////////////////////////////////////////
// ▄▀█ █░░ ▄▀█ █▀█ █▄░█ █ ▄▀█ █▄░█
// █▀█ █▄▄ █▀█ █▀▀ █░▀█ █ █▀█ █░▀█
// 🅢🅐🅢🅢 🅜🅞🅓🅤🅛🅔🅢
// 
// (c) Copyright 2025 Alapnian
// (/) Developed by Alapnian Sass Dev
////////////////////////////////////////
@charset 'UTF-8';

@use "sass:meta";
@use "sass:map";
@use "internal/format";
@use "internal/throw";

///
/// Returns an error message stating an issue with one or more parameters of function.
/// 
/// @param  {String}        $message    - The message which describes the issue.
/// @param  {String}        $context    - The name of the function issuing the error.
/// @param  {ArgList<*>}    $names      - The names of the parameters for which there is an issue.
/// @param  {Bool|'warn'}   $catch      - Optionally catch errors and return them as values without stopping compilation.
/// @return {String}        - A string describing the reason one or more parameters are invalid.
/// 
/// @group  API
/// @access public
/// 
/// @require    {Function}  meta.keywords
/// @require    {Function}  meta.variable-exists
/// @require    {Function}  map.has-key
/// @require    {Function}  map.get
/// @require    {Function}  format.variable-name
/// @require    {Function}  throw.exception
/// 
@function parameter($message, $context, $names...) {
    $keywords: meta.keywords($names);

    $catch: if(map.has-key($keywords, 'catch'), map.get($keywords, 'catch'), if(meta.variable-exists('catch-error'), $catch-error, false));
    $names: format.variable-name($names);
    $message: '#{$message} for `#{$context}()`';

    @return throw.exception($message, $names, $catch);
}

///
/// Alias function name of throw.parameter
/// 
/// @group  API
/// @access public
/// 
/// @require    {Function}  parameter
/// 
@function parameter-exception($message, $context, $names...) {
    @return parameter($message, $context, $names...);
}

///
/// Output an error message stating an issue with one or more parameters of mixins.
/// 
/// @param  {String}        $message    - The message which describes the issue.
/// @param  {String}        $context    - The name of the mixin issuing the error.
/// @param  {ArgList<*>}    $names      - The names of the parameters for which there is an issue.
/// @param  {Bool|'warn'}   $catch      - Optionally catch errors, and output them as CSS comments without stopping compilation.
/// 
/// @output A string describing the reason one or more parameters are invalid.
/// 
/// @group  API
/// @access public
/// 
/// @require    {Function}  meta.keywords
/// @require    {Function}  meta.variable-exists
/// @require    {Function}  map.has-key
/// @require    {Function}  map.get
/// @require    {Mixin}     throw.exception
/// 
@mixin parameter($message, $context, $names...) {
    $keywords: meta.keywords($names);

    $catch: if(map.has-key($keywords, 'catch'), map.get($keywords, 'catch'), if(meta.variable-exists('catch-error'), $catch-error, false));
    $names: format.variable-name($names);
    $message: '#{$message} for `@#{$context}`';

    @include throw.exception($message, $names, $catch);
}

///
/// Alias mixin name of throw.parameter
/// 
/// @group  API
/// @access public
/// 
/// @require    {Mixin} parameter
/// 
@mixin parameter-exception($message, $context, $names...) {
    @include parameter($message, $context, $names...);
}