# ################################## #
#   ▄▀█ █░░ ▄▀█ █▀█ █▄░█ █ ▄▀█ █▄░█  #
#   █▀█ █▄▄ █▀█ █▀▀ █░▀█ █ █▀█ █░▀█  #
#         🅢🅐🅢🅢 🅜🅞🅓🅤🅛🅔🅢         #
#                                    #
#    (c) Copyright 2025 Alapnian     #
# (/) Developed by Alapnian Sass Dev #
# ################################## #

#-------------------------
# Stylesheets
#-------------------------
.sass-cache/
*.css.map
*.sass.map
*.scss.map

#-------------------------
# Node Package Manager
#-------------------------
node_modules/
package-lock.json
